/* 
colors:
    2C3930
    3F4F44
    A27B5C
    DCD7C9
*/

@font-face {
  font-family: "madegoodtime";
  src: url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff2")
      format("woff2"),
    url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54regular";
  src: url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff2") format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54italic";
  src: url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff2")
      format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2c3930;
  margin: 0;
  overflow: hidden; /* prevent any scrolling */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh; /* full height */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2c3930; /* sidebar background */
  z-index: 2;
}

.band-name {
  margin-bottom: 0.9rem;
}

.name {
  color: #a27b5c;
  font-size: 7vw;
  max-width: 30vw;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  line-height: 0.9;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.9rem; /* consistent spacing */
}

.nav-links a {
  color: #3f4f44;
  text-decoration: none;
  font-size: 7vw;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  transition: color 0.3s ease;
  line-height: 0.8;
}

.nav-links a:hover {
  color: #dcd7c9;
}

.main-image {
  position: fixed;
  top: 20px;
  left: calc(30vw + 2rem);
  bottom: 20px;
  padding-right: 20px; /* space on the right */
  overflow: hidden;
  z-index: 1;
  height: auto;
  box-sizing: border-box; /* make padding affect layout correctly */
}

.main-image img {
  width: calc(100% - 20px);
  height: auto;
  object-fit: cover;
  border: 8px solid #3f4f44;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}
