/* 
colors:
    2C3930
    3F4F44
    A27B5C
    DCD7C9
*/

@font-face {
  font-family: "madegoodtime";
  src: url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff2")
      format("woff2"),
    url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54regular";
  src: url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff2") format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54italic";
  src: url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff2")
      format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2c3930;
  margin: 0;
  /* overflow: hidden; */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh; /* full height */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2c3930; /* sidebar background */
  z-index: 2;
}

.home-link {
  text-decoration: none;
  color: inherit; /* inherit the text color */
  display: inline-block;
}

.home-link .name {
  transition: color 0.3s ease; /* transition applies both on hover in & out */
}

.home-link:hover .name {
  color: #dcd7c9; /* hover color */
}

.band-name {
  margin-bottom: 0.9rem;
}

.name {
  color: #a27b5c;
  font-size: 7vw;
  max-width: 30vw;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  line-height: 0.9;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.9rem; /* consistent spacing */
}

.nav-links a {
  color: #3f4f44;
  text-decoration: none;
  font-size: 7vw;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  transition: color 0.3s ease;
  line-height: 0.8;
}

.nav-links a:hover {
  color: #dcd7c9;
}

.content {
  margin-left: 30vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.media-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  /* gap: 1.5rem; */
}

.media-item {
  background-color: #3f4f44;
  padding: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  /* max-width: 800px; */
  margin-bottom: 0.5rem;
}

.video-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-wrapper iframe {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 16 / 9;
  border: 0;
  display: block;
}

.media-item img {
  width: 100%;
  height: auto; /* keeps natural aspect ratio */
  display: block;
  border-radius: 8px;
  object-fit: contain;
}
